.projects__wrapper {
    display:flex;
    flex-direction: column;
    gap: 100px;
}

.projects h2 {
    padding-bottom: 30px;
}

div.heading {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1024px){
    .projects__wrapper {
        gap: 70px;
    }
}