.devicon {
    font-size: 5rem;
}

.devicon-color {
    color: #fff;
}

.devicon-color2 {
    color: #f783ac;
}

h2.heading.p__color {
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.2;
}

.box-container {
    display: flex;
    width: 90%;
    margin: 0 auto 30px;
    flex-wrap: wrap;
}

.box__icon {
    width: 12.5%;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3.5rem;
    display: grid;
}

.box__icon > p {
    color: #fff;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.box-container .fas {
    line-height: 5.5rem;
}

.skills__h3__wrap {
    text-align: center;
}

.skills__h3__wrap > h3 {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    color: #7689d8;
    letter-spacing: 0.02rem;
    margin-bottom: 20px;
}

.skills__h3__wrap > p {
    color: #fff;
    line-height: 1.55;
    font-size: 1.2rem;
    font-family: "Mada",sans-serif;
    font-weight: 400;
}

@media only screen and (max-width:1216px) {
    .box__icon {
        width: 25%;
    }
}

@media only screen and (max-width:600px) {
    .box__icon {
        width: 50%;
    }
}