.about {
    background: #191919;
}

.about__wrapper {
    display: flex;
}

.about__img__wrapper {
    width: 35%;
}

.about__img {
    display: block;
    width: 100%;
    min-width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.about__text__wrapper {
    width: 65%;
    padding-left: 5%;
}

.about__heading {
    margin-bottom: 10px;
    font-weight: 600;
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #fff;
}

.about__text__wrapper span, .about__text__wrapper a {
    font-weight: 500;
    display: inline;
    color:#F9004D
}

.about__text__wrapper a:hover {
    color: #fff;
}

.about__button {
    padding: 20px 0px;
}

.about__button button {
    cursor: pointer;
}

a.bottom__to__top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    background-color: #F9004D;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .4s all ease;
    z-index: 1000;
}

a.bottom__to__top.active {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .about__heading {
        font-size: 50px;
    }

    .about__wrapper {
        display: block;
    }

    .about__img__wrapper {
        margin: 0 auto;
        width: 40%;
    }    

    .about__text__wrapper {
        margin: 0 auto;
        width: 90%;
    }
}