.home {
    width: 100%;
    height: 100vh;
    background-image: url(../../images/home__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.home__header {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: "Mada", sans-serif;
    color: rgba(198, 201, 216, .75)!important;
}

.home__text2, .home__text3 {
    font-size: 6rem;
    font-weight: 700;
    font-family: "Mada", sans-serif;
    line-height: 6rem;
}

.home__text2 {
    color: #fff;
}

.home__text3 {
    color: #f9004d;
}

@media only screen and (max-width:1408px) {
    .home__header {
        font-size: 3.2rem;
    }

    .home__text2, .home__text3 {
        font-size: 4.8rem;
        line-height: 5rem;
    }
}

@media only screen and (max-width:1024px) {
    .home__header {
        font-size: 2.9rem;
    }

    .home__text2, .home__text3 {
        font-size: 4.3rem;
        line-height: 4rem;
    }
}

@media only screen and (max-width: 768px){
    .home__header {
        font-size: 2.3rem;
    }

    .home__text2, .home__text3 {
        font-size: 3.4rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width: 425px){
    .home__header {
        font-size: 1.8rem;
    }

    .home__text2, .home__text3 {
        font-size: 2.7rem;
        line-height: 3rem;
    }
}