.contact {
    background-color: #191919;
}

.contact h1.heading {
    text-align: start;
}

.contact__content__wrp {
    display: flex;
}

.contact__form {
    width: 50%;
}

input.contact {
    display: block;
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin: 20px 0px;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

textarea#message {
    height: 120px;
    background: none;
    padding: 0 20px;
    width: 100%;
    line-height: 46px;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

input.contact:focus, textarea#message:focus {
    border: 2px solid rgba(249, 0, 77, 0.5);
}

.icon-color {
    color: #394ff4;
}

.vk-icon-color {
    filter: invert(28%) sepia(99%) saturate(1359%) hue-rotate(213deg) brightness(103%) contrast(93%);
    width: 50px;
}