.contact {
    background-color: #191919;
}

.contact h1.heading {
    text-align: start;
}

.contact__content__wrp {
    display: flex;
}

.contact__form {
    width: 50%;
}

input.contact {
    display: block;
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin: 20px 0px;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

textarea#message {
    height: 120px;
    background: none;
    padding: 0 20px;
    width: 100%;
    color: #fff;
    padding-top: 10px;
    font-size: 15px;
    letter-spacing: .1px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

input.contact:focus, textarea#message:focus {
    border: 2px solid rgba(249, 0, 77, 0.5);
}

.contact__socials {
    padding: 126px 0 0 45px;
    width: 40%;
}

.socials__list {
    display: flex;
}

.socials__list li {
    display: flex;
    align-items: center;
    transition: transform .2s ease-in-out;
    cursor: pointer;
    width: calc(100%/6);
}

.icon-color {
    color: #394ff4;
}

.vk-icon {
    filter: invert(28%) sepia(99%) saturate(1359%) hue-rotate(213deg) brightness(103%) contrast(93%);
    width: 50px;
}

.socials__list li:hover {
    transform: scale(1.4);
}

.socials__list li:hover .icon-color {
    transition: .7s all ease;
    color:#f9004d;
}

.socials__list li:hover .vk-icon {
    transition: .7s all ease;
    filter: invert(16%) sepia(97%) saturate(5866%) hue-rotate(336deg) brightness(101%) contrast(111%);
}

@media only screen and (max-width:1216px) {
    .contact__socials {
        width: 50%;
    }

    .socials__list {
        display: flex;
        gap: 1.5rem;
    }
}

@media only screen and (max-width:1024px) {
    .contact__form {
        width: 60%;
    }

    .contact__socials {
        width: 40%;
    }

    .socials__list {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:768px) {
    .contact__content__wrp {
        display: block;
    }

    .contact__form, .contact__socials {
        width: 100%;
    }

    .socials__list {
        flex-wrap: nowrap;
    }

    .contact__socials {
        padding: 50px 0 0;
    }
}

@media only screen and (max-width:425px) {
    .socials__list {
        flex-wrap: wrap;
    }
}