.navbar {
    position: fixed;
    width: 100%;
    background-color: #191919;
    transition: .4s all ease;
}

.navbar__container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.logo:hover {
    transition: .4s all ease;
    filter: brightness(150%);
}

.navbar__list {
    display: flex;
}

.nav__items {
    font-family: Poppins,sans-serif;
    font-size: 18px;
    margin: 0px 15px;
}

.nav__items:hover > a {
    color: #F9004D;
}

.navbar.active {
    z-index: 1000;
    background-color: #23242c;
    width: 100%;
}

.toggle__menu {
    display: none;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
}

.sideNavbar__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0%;
    background: #010101;
    justify-content: center;
    width: 300px;
    top: 0%;
    flex-direction: column;
}

.sideNavbar__item{
    font-family: Poppins,sans-serif;
    font-size: 18px;
    padding: 25px 30px;
}

@media only screen and (max-width: 768px){
    .toggle__menu {
        display: flex;
    }

    .navbar__container {
        justify-content: space-between;
    }

    .navigation {
           display: none;
       }

   svg.bi.bi-justify.white.pointer {
       width: 30px;
       height: 30px;
   }
}