.certificates {
    background-color: #191919;
}

.certificates__list {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.certificates__item {
    position: relative;
}

.certificates__item:hover > .certificate__img {
    filter: blur(2px) brightness(50%);
    transition: .4s;
}

.certificates__item:hover .certificate__link_icon,
.certificates__item:hover .certificate__loupe_icon {
    display: block;
}

.certificate__img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.certificate__loupe_icon, .certificate__link_icon {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(117deg) brightness(103%) contrast(100%);
} 

.certificate__loupe_icon:hover,
.certificate__link_icon:hover {
    filter: invert(19%) sepia(100%) saturate(7157%) hue-rotate(336deg) brightness(95%) contrast(105%);
}

.certificate__loupe_icon {
    width: 40px;
    right: 30%;
}

.certificate__link_icon {
    width: 40px;
    left: 30%;
}

@media only screen and (max-width: 1024px) {
    .certificates__box {
        padding: 32px;
    }
}