.project {
    background-color: #191919;
}

img.project__img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    transition: .4s;
    opacity: .7;
    position: relative;
}

img.project__img::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    opacity: 1;
}

.mask__effect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9004d;
    border-radius: 10px;
    transition: .4s;
    opacity: .3;
    display: none;
}

.project__box:hover .mask__effect {
    display: inline;
    transform: scale(1.1);
}

.project__box:hover img.project__img {
    transform: scale(1.1);
}